%h2 Search for Food
= render partial: 'shared/search_food_form'


%h2 My Foods
%table.table.table-responsive.table-striped
  %thead
    %tr
      %th Name
      %th{colspan: 3} Actions

  %tbody
    - @foods.each do |food|
      %tr
        %td= food.name
        %td= link_to 'Show', food
        %td= link_to 'Edit', edit_food_path(food)
        %td= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Food', new_food_path
